* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    color: white;
    padding: 0;
    margin: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(0px, auto));
    padding: 20px;
}

header {
    grid-column: 2/13;
    grid-row: 1/2;

}

header img {
    width: 180px;
}

main {
    grid-column: 1/13;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 50px auto;
}

main img {
    grid-column: 2/3;
    width: 450px;
}

section {
    grid-column: 4/12;
    text-align: justify;
    margin-left: -30px;
    padding-top: 45px;
}

footer {
    grid-column: 1/13;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

footer .attribution {
    grid-column: 1/6;
}

footer .icons {
    grid-column: 10/12;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

}

footer li {
    display: inline-block;
    margin-left: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

section h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

section button {
    margin-top: 30px;
    border: none;
    border-radius: 25px;
    padding: 10px 40px;
    color: hsl(257, 40%, 49%);
    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.7);
}


@media screen and (max-width:375px) {
    body {
        background-position: top;
        background-size: contain;
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;

    }

    header {
        grid-column: 2/12;
        grid-row: 1/2;

    }

    header img {
        width: 180px;
    }

    main {
        grid-column: 1/13;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin: 40px auto;
        text-align: center;
    }

    main img {
        grid-column: 2 /12;
        grid-row: 1/2;
        width: 250px;
    }

    section {
        grid-row: 2/3;
        grid-column: 3/12;
        margin-left: -30px;
        padding-top: 45px;
        text-align: center;
    }

    footer {
        grid-column: 1/13;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    footer .attribution {
        grid-column: 1/13;
        grid-row: 2/3;
    }

    footer .icons {
        grid-column: 2/12;
        text-align: center;
        grid-row: 1/2;
    }

    footer ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

    }

    footer li {
        display: inline-block;
        margin-left: 10px;
    }

    footer a {
        text-decoration: none;
        color: white;
    }

    section h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }

    section button {
        border: none;
        border-radius: 25px;
        padding: 10px 40px;
        box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.7);
    }
}